<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>rss - discover</title>
  <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body>
  <main>
    <h1>Discover</h1>

    <section>
      <nav>
        <div>
          <a href="/">Home</a>
          <a href="/feeds">Feeds</a>
          <a href="/discover">Discover</a>
        </div>
        <div>
          <a href="/signup">Sign Up</a>
          <a href="/login">Login</a>
          <form action="/logout" method="get">
            <button type="submit">Logout</button>
          </form>
        </div>
      </nav>
    </section>

    <section>
      <form action="/feeds" method="post">
        <label for="url">Feed URL:</label>
        {{with .Form.FieldErrors.url}}
        <span class="error">{{.}}</span>
        {{end}}
        <input type="text" id="url" name="url" value="{{.Form.Url}}" />
        <button type="submit">Add Feed</button>
      </form>
    </section>
  </main>
  <script src="/static/js/main.js"></script>
</body>

</html>
