<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>rss - feeds</title>
  <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body>
  <main>
    <h1>Feeds</h1>

    <section>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/feeds">Feeds</a></li>
          <li><a href="/discover">Discover</a></li>
        </ul>
      </nav>
    </section>

    <section>
      <ul>
        {{range .Feeds}}
        <li>
          <h2>{{.Title}}</h2>
          <p>{{.Description}}</p>
          <p><a href="{{.Url}}">Feed URL</a></p>
          <p><a href="{{.SiteUrl}}">Site URL</a></p>
        </li>
        {{end}}
      </ul>
    </section>
  </main>
  <script src="/static/js/main.js"></script>
</body>

</html>
