<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>rss</title>
  <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body>
  <main>
    <h1>rss</h1>

    <section>
      <nav>
        <div>
          <a href="/">Home</a>
          <a href="/feeds">Feeds</a>
          <a href="/discover">Discover</a>
        </div>
        <div>
          <a href="/signup">Sign Up</a>
          <a href="/login">Login</a>
          <form action="/logout" method="get">
            <button type="submit">Logout</button>
          </form>
        </div>
      </nav>
    </section>
  </main>
  <script src="/static/js/main.js"></script>
</body>

</html>
